body {
    background-image: url(../images/Background.jpg);
    font-family: Poppins;
}

h1 {
    text-align: center;
    font-weight: 300;
}

table {
    border-collapse: collapse;
    width: 50%;
    color: #191919;
    font-family: Poppins;
    font-size: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    background-color: #292929;
    border-radius: 1px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

th {
    background-color: #292929;
    color: white;
}

td {
    color: #191919;
    border: 1px solid #292929;
    text-align: left;
    padding: 4px;
    text-align: center;
}

th:hover {
    color: orange;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: white;
    ;
}

.mobile-container {
    margin: auto;
    background-color: #292929;
    height: 26.3vw;
    color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: #292929;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.topnav {
    max-width: 50%;
    overflow: hidden;
    background-color: #292929;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: #191919;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

a:hover {
    color: orange;
}

.active {
    background-color: #292929;
    color: white;
}

input {
    margin-left: auto;
    margin-right: auto;
}

.login {
    width: 50%;
    margin: 16px auto;
    font-size: 16px;
}

.login-header,
.login p {
    margin-top: 0;
    margin-bottom: 0;
}

.login-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #292929;
}

.login-header {
    background: orange;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.login-container {
    background: transparent;
    padding: 12px;
}

.login p {
    padding: 12px;
}

.login input {
    box-sizing: border-box;
    display: block;
    width: 50%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.login input[type="text"],
.login input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: orange;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
    border-color: #888;
}

.login input[type="submit"] {
    background: orange;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background: orange;
}


/* Buttons' focus effect */

.login input[type="submit"]:focus {
    border-color: orange;
}